@model string
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido un error al procesar su pedido</h2>
@if (Model != null)
{
    <p>
        @Model
    </p>
}
<div>
    <a asp-action="Index">Volver a Página principal</a>
</div>



