@model COA.Mvc.Models.UserViewModel

@{
    ViewData["Title"] = "Actualizar";
}

<div class="row mt-3 p-3">
    <div class="col-md-4 jumbotron">
        <h1>Actualizar</h1>
        <form asp-action="Create">
            <div class="form-group">
                @Html.DisplayFor(model => model.IdUsuario)
                @Html.HiddenFor(m => m.IdUsuario)
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
<div class="row">
    <a asp-action="Index">
        <i class="bi bi-arrow-bar-left" style="font-size: 1.5rem" ;></i>Volver a página principal
    </a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
